body{
    background-color: aqua;
}
.time{
    background-color: blue;
}
caption{
    text-align: center;
}
.tree{
    color: white;
}
.try{
    color: brown;
}
table{
    width: 100%;
}
.top{
    color: wheat;
}

